runerush/FINAL_COLLECTIONS/RUNERUSH_COMPLETE_ENHANCED/RuneFlow_Rune_1882_Scheduled_Task_Automation_ScheduledTasks_Basic_Discord.json
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 1882\\n\\n📋 Template: Scheduled_Discord_Updates_from_GraphQL_Data_Query\\n📁 Category: Email & and & Communication\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        459,
        371
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        1109,
        371
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Votes",
              "value": "={{$json[\"posts\"][\"node\"][\"votesCount\"]}}"
            }
          ],
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"posts\"][\"node\"][\"name\"]}}"
            },
            {
              "name": "Description",
              "value": "={{$json[\"posts\"][\"node\"][\"description\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "GraphQL",
      "type": "n8n-nodes-base.graphql",
      "position": [
        700,
        370
      ],
      "parameters": {
        "query": "=query PostRanking{\n posts(postedAfter:\"{{new Date(new Date(Date.now()).getTime() - (1000*60*60*1*24)).toUTCString()}}\", order:RANKING, first:5, postedBefore:\"{{new Date(Date.now()).toUTCString()}}\"){\n edges {\n node {\n name\n tagline\n description\n votesCount\n reviewsRating\n }\n }\n }\n}",
        "endpoint": "https://api.producthunt.com/v2/api/graphql",
        "requestFormat": "json",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR-TOKEN"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        900,
        370
      ],
      "parameters": {
        "options": {
          "destinationFieldName": "posts"
        },
        "fieldToSplitOut": "data.posts.edges"
      },
      "typeVersion": 1
    },
    {
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "position": [
        1310,
        370
      ],
      "parameters": {
        "text": "=Here are the top 5 PH projects:\n**Name:** {{$json[\"Name\"]}}\n**Description:** {{$json[\"Description\"]}}\n**Vote:** {{$json[\"Votes\"]}}\n-------",
        "webhookUri": "DISCORD WEBHOOK URL"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Email & and & Communication",
      "template_name": "Scheduled_Discord_Updates_from_GraphQL_Data_Query",
      "rune_number": "1882"
    }
  },
  "runeflow_category": "ᛖᛗ Email Marketing",
  "runeflow_description": "Engage Customers",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Scheduled_Discord_Updates_from_GraphQL_Data_Query",
    "template_name": "Scheduled Discord Updates From Graphql Data Query",
    "original_filename": "Scheduled_Discord_Updates_from_GraphQL_Data_Query",
    "category": "AI & Research",
    "quality_score": 1,
    "processed_date": "2025-07-31T07:29:59.249789",
    "nodes_count": 6,
    "has_credentials": false,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "1882"
}