runerush/templates/processed_complete_vault/automation_googlebooks_manual.json.backup_20250731_073946
{
  "id": "107",
  "name": "Get a volume and add it to your bookshelf",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: automation_googlebooks_manual\\n📁 Category: Other & Templates\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        260,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Google Books",
      "type": "n8n-nodes-base.googleBooks",
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "volume",
        "volumeId": "XxUJ2U2FXtYC",
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleBooksOAuth2Api": "google-books"
      },
      "typeVersion": 1
    },
    {
      "name": "Google Books1",
      "type": "n8n-nodes-base.googleBooks",
      "position": [
        660,
        300
      ],
      "parameters": {
        "shelfId": "2",
        "resource": "bookshelfVolume",
        "volumeId": "={{$node[\"Google Books\"].json[\"id\"]}}",
        "operation": "add",
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleBooksOAuth2Api": "google-books"
      },
      "typeVersion": 1
    },
    {
      "name": "Google Books2",
      "type": "n8n-nodes-base.googleBooks",
      "position": [
        860,
        300
      ],
      "parameters": {
        "shelfId": "={{$node[\"Google Books1\"].parameter[\"shelfId\"]}}",
        "resource": "bookshelfVolume",
        "myLibrary": true,
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleBooksOAuth2Api": "google-books"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Google Books": {
      "main": [
        [
          {
            "node": "Google Books1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Books1": {
      "main": [
        [
          {
            "node": "Google Books2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Google Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "Other & Templates",
      "template_name": "automation_googlebooks_manual"
    }
  },
  "runeflow_category": "ᛁᚾ Integration Hub",
  "runeflow_description": "Connect Everything",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "automation_googlebooks_manual",
    "template_name": "Automation Googlebooks Manual",
    "original_filename": "automation_googlebooks_manual",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:57.780188",
    "nodes_count": 5,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  }
}