runerush/templates/processed_complete_vault/Create_ClickUp_Tasks_from_Typeform_User_Requests.json.backup_20250731_073930
{
  "id": "16",
  "name": "User Request Management",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: Create_ClickUp_Tasks_from_Typeform_User_Requests\\n📁 Category: Forms & and & Surveys\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "position": [
        1180,
        490
      ],
      "parameters": {
        "list": "={{$json[\"ListID\"]}}",
        "name": "={{$node[\"Typeform Trigger\"].json[\"Give this request a short title.\"]}}",
        "team": "8583125",
        "space": "12732821",
        "folder": "25402375",
        "authentication": "oAuth2",
        "additionalFields": {
          "content": "={{$node[\"Typeform Trigger\"].json[\"Describe in detail what you would like to see happen for this request.\"]}}\n\nRequested by:\n{{$node[\"Typeform Trigger\"].json[\"Your full name\"]}}\n{{$node[\"Typeform Trigger\"].json[\"Your email address\"]}}",
          "priority": "={{$json[\"How urgent is this request?\"]}}"
        }
      },
      "credentials": {
        "clickUpOAuth2Api": "ClickUp Cred"
      },
      "typeVersion": 1
    },
    {
      "name": "Typeform Trigger",
      "type": "n8n-nodes-base.typeformTrigger",
      "position": [
        530,
        500
      ],
      "webhookId": "80816cb6-d987-44b2-8981-f95d1af1f6a8",
      "parameters": {
        "formId": "LE36uLN1"
      },
      "credentials": {
        "typeformApi": "Typeform"
      },
      "typeVersion": 1
    },
    {
      "name": "ListID 54684957",
      "type": "n8n-nodes-base.set",
      "position": [
        940,
        560
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "ListID",
              "value": 54684957
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "ListID 54685003",
      "type": "n8n-nodes-base.set",
      "position": [
        940,
        280
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "ListID",
              "value": 54685003
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "ListID 54685000",
      "type": "n8n-nodes-base.set",
      "position": [
        940,
        420
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "ListID",
              "value": 54685000
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "ListID 54684997",
      "type": "n8n-nodes-base.set",
      "position": [
        940,
        700
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "ListID",
              "value": 54684997
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Pick List",
      "type": "n8n-nodes-base.switch",
      "position": [
        730,
        500
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "Document Request"
            },
            {
              "output": 1,
              "value2": "Presentation Request"
            },
            {
              "output": 2,
              "value2": "Update Request"
            },
            {
              "output": 3,
              "value2": "Workflow Request"
            }
          ]
        },
        "value1": "={{$node[\"Typeform Trigger\"].json[\"What type of a request are you making?\"]}}",
        "dataType": "string"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "settings": {},
  "connections": {
    "Pick List": {
      "main": [
        [
          {
            "node": "ListID 54685003",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ListID 54685000",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ListID 54684957",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ListID 54684997",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListID 54684957": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListID 54684997": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListID 54685000": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListID 54685003": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Pick List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "Forms & and & Surveys",
      "template_name": "Create_ClickUp_Tasks_from_Typeform_User_Requests"
    }
  },
  "runeflow_category": "ᚦᚨ Task Management",
  "runeflow_description": "Workflow Orchestration",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Create_ClickUp_Tasks_from_Typeform_User_Requests",
    "template_name": "Create Clickup Tasks From Typeform User Requests",
    "original_filename": "Create_ClickUp_Tasks_from_Typeform_User_Requests",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:48.271065",
    "nodes_count": 8,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  }
}