runerush/templates/processed_complete_vault/Execute_Commands_and_Merge_Results_in_Spanish.json.backup_20250731_073919
{
  "id": "29",
  "name": "N8N Español - Ejemplos",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: Execute_Commands_and_Merge_Results_in_Spanish\\n📁 Category: Other & Templates\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Minúsculas",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#E31515",
      "notes": ".toLowerCase()",
      "position": [
        650,
        -10
      ],
      "parameters": {
        "command": "=echo Minúsuclas: {{$node[\"Set\"].json[\"mensaje\"].toLowerCase()}}"
      },
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Mayúsculas",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#0BA1ED",
      "notes": ".toUpperCase()",
      "position": [
        800,
        90
      ],
      "parameters": {
        "command": "=echo Mayúsculas: {{$node[\"Set\"].json[\"mensaje\"].toUpperCase()}}"
      },
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        180
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje",
              "value": "Un León pasea por la Sabana Africana"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Replace",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#0BA1ED",
      "notes": ".replace - .replace('Un León', 'Una Jirafa')",
      "position": [
        800,
        290
      ],
      "parameters": {
        "command": "=echo Replace: {{$node[\"Set\"].json[\"mensaje\"].replace('Un León', 'Una Jirafa')}}"
      },
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "notes": "Junta las salidas",
      "position": [
        960,
        10
      ],
      "parameters": {},
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Resultado",
      "type": "n8n-nodes-base.merge",
      "color": "#F41C0D",
      "notes": "Junta las salidas",
      "position": [
        1070,
        240
      ],
      "parameters": {},
      "notesInFlow": true,
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Minúsculas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mayúsculas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Replace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mayúsculas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Minúsculas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "Other & Templates",
      "template_name": "Execute_Commands_and_Merge_Results_in_Spanish"
    }
  },
  "runeflow_category": "ᛁᚾ Integration Hub",
  "runeflow_description": "Connect Everything",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Execute_Commands_and_Merge_Results_in_Spanish",
    "template_name": "Execute Commands And Merge Results In Spanish",
    "original_filename": "Execute_Commands_and_Merge_Results_in_Spanish",
    "category": "AI & Research",
    "quality_score": 1,
    "processed_date": "2025-07-31T07:29:44.406152",
    "nodes_count": 8,
    "has_credentials": false,
    "has_webhooks": false,
    "has_ai_nodes": false
  }
}