runerush/templates/processed_complete_vault/Manage_Autopilot_Marketing_Campaigns.json.backup_20250731_073851
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: Manage_Autopilot_Marketing_Campaigns\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Autopilot",
      "type": "n8n-nodes-base.autopilot",
      "position": [
        470,
        320
      ],
      "parameters": {
        "name": "n8n-docs",
        "resource": "list"
      },
      "credentials": {
        "autopilotApi": "Autopilot API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Autopilot1",
      "type": "n8n-nodes-base.autopilot",
      "position": [
        670,
        320
      ],
      "parameters": {
        "email": "",
        "additionalFields": {
          "autopilotList": "={{$json[\"list_id\"]}}"
        }
      },
      "credentials": {
        "autopilotApi": "Autopilot API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Autopilot2",
      "type": "n8n-nodes-base.autopilot",
      "position": [
        870,
        320
      ],
      "parameters": {
        "email": "={{$node[\"Autopilot1\"].parameter[\"email\"]}}",
        "additionalFields": {
          "Company": "n8n"
        }
      },
      "credentials": {
        "autopilotApi": "Autopilot API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Autopilot3",
      "type": "n8n-nodes-base.autopilot",
      "position": [
        1070,
        320
      ],
      "parameters": {
        "listId": "={{$node[\"Autopilot\"].json[\"list_id\"]}}",
        "resource": "contactList",
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "autopilotApi": "Autopilot API Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Autopilot": {
      "main": [
        [
          {
            "node": "Autopilot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autopilot1": {
      "main": [
        [
          {
            "node": "Autopilot2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autopilot2": {
      "main": [
        [
          {
            "node": "Autopilot3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "AI & and & Research",
      "template_name": "Manage_Autopilot_Marketing_Campaigns"
    }
  },
  "runeflow_category": "ᚨᛁ AI & Research",
  "runeflow_description": "Intelligent Data Processing",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Manage_Autopilot_Marketing_Campaigns",
    "template_name": "Manage Autopilot Marketing Campaigns",
    "original_filename": "Manage_Autopilot_Marketing_Campaigns",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:38.835352",
    "nodes_count": 5,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  }
}