runerush/templates/processed_complete_vault/Manually_Trigger_Microsoft_Teams_Message.json.backup_20250731_073931
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: Manually_Trigger_Microsoft_Teams_Message\\n📁 Category: Email & and & Communication\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        540,
        360
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Microsoft Teams",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [
        740,
        360
      ],
      "parameters": {
        "name": "n8n-docs-demo",
        "teamId": "d6b83b00-085d-472c-a6d9-8c2c32c1424e",
        "options": {}
      },
      "credentials": {
        "microsoftTeamsOAuth2Api": "teams_n8n"
      },
      "typeVersion": 1
    },
    {
      "name": "Microsoft Teams1",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [
        940,
        360
      ],
      "parameters": {
        "teamId": "={{$node[\"Microsoft Teams\"].parameter[\"teamId\"]}}",
        "channelId": "={{$node[\"Microsoft Teams\"].json[\"id\"]}}",
        "operation": "update",
        "updateFields": {
          "name": "n8n-documentation-demo"
        }
      },
      "credentials": {
        "microsoftTeamsOAuth2Api": "teams_n8n"
      },
      "typeVersion": 1
    },
    {
      "name": "Microsoft Teams2",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [
        1140,
        360
      ],
      "parameters": {
        "teamId": "={{$node[\"Microsoft Teams\"].parameter[\"teamId\"]}}",
        "message": "n8n rocks!",
        "resource": "channelMessage",
        "channelId": "={{$node[\"Microsoft Teams\"].json[\"id\"]}}",
        "messageType": "text"
      },
      "credentials": {
        "microsoftTeamsOAuth2Api": "teams_n8n"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Microsoft Teams": {
      "main": [
        [
          {
            "node": "Microsoft Teams1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Teams1": {
      "main": [
        [
          {
            "node": "Microsoft Teams2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "Email & and & Communication",
      "template_name": "Manually_Trigger_Microsoft_Teams_Message"
    }
  },
  "runeflow_category": "ᛖᛗ Email Marketing",
  "runeflow_description": "Engage Customers",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Manually_Trigger_Microsoft_Teams_Message",
    "template_name": "Manually Trigger Microsoft Teams Message",
    "original_filename": "Manually_Trigger_Microsoft_Teams_Message",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:49.382026",
    "nodes_count": 5,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  }
}