runerush/templates/processed_complete_vault/New_WooCommerce_order_to_Slack.json.backup_20250731_073856
{
  "id": 81,
  "name": "New WooCommerce order to Slack",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: New_WooCommerce_order_to_Slack\\n📁 Category: Email & and & Communication\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Order Created",
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "position": [
        340,
        500
      ],
      "webhookId": "287b4bf4-67ec-4c97-85d9-c0d3e6f59e6b",
      "parameters": {
        "event": "order.created"
      },
      "credentials": {
        "wooCommerceApi": {
          "id": "48",
          "name": "WooCommerce account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        780,
        480
      ],
      "parameters": {
        "text": ":sparkles: There is a new order :sparkles:",
        "channel": "woo-commerce",
        "blocksUi": {
          "blocksValues": []
        },
        "attachments": [
          {
            "color": "#66FF00",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Order ID",
                  "value": "={{$json[\"id\"]}}"
                },
                {
                  "short": true,
                  "title": "Status",
                  "value": "={{$json[\"status\"]}}"
                },
                {
                  "short": true,
                  "title": "Total",
                  "value": "={{$json[\"currency_symbol\"]}}{{$json[\"total\"]}}"
                },
                {
                  "short": false,
                  "title": "Link",
                  "value": "={{$node[\"Order Created\"].json[\"_links\"][\"self\"][0][\"href\"]}}"
                }
              ]
            },
            "footer": "=*Ordered:* {{$json[\"date_created\"]}} | *Transaction ID:* {{$json[\"transaction_id\"]}}"
          }
        ],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "53",
          "name": "Slack Access Token"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Price over 100",
      "type": "n8n-nodes-base.if",
      "position": [
        540,
        500
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"total\"]}}",
              "value2": 100,
              "operation": "largerEqual"
            }
          ]
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all"
  },
  "connections": {
    "Order Created": {
      "main": [
        [
          {
            "node": "Price over 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price over 100": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "Email & and & Communication",
      "template_name": "New_WooCommerce_order_to_Slack"
    }
  },
  "runeflow_category": "ᛖᛗ Email Marketing",
  "runeflow_description": "Engage Customers",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "New_WooCommerce_order_to_Slack",
    "template_name": "New Woocommerce Order To Slack",
    "original_filename": "New_WooCommerce_order_to_Slack",
    "category": "AI & Research",
    "quality_score": 1,
    "processed_date": "2025-07-31T07:29:42.072353",
    "nodes_count": 4,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  }
}