runerush/templates/processed_complete_vault/Publish_Medium_Articles_via_Webhook_Trigger.json.backup_20250731_073904
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: Publish_Medium_Articles_via_Webhook_Trigger\\n📁 Category: Other & Templates\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Medium",
      "type": "n8n-nodes-base.medium",
      "position": [
        650,
        450
      ],
      "parameters": {
        "title": "={{$json[\"body\"][\"entry\"][\"Title\"]}}",
        "content": "={{$json[\"body\"][\"entry\"][\"PostContent\"]}}",
        "contentFormat": "markdown",
        "additionalFields": {}
      },
      "credentials": {
        "mediumApi": "Medium Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        450,
        300
      ],
      "webhookId": "",
      "parameters": {
        "path": "",
        "options": {},
        "httpMethod": "POST",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": "Strapi Webhook Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        650,
        200
      ],
      "parameters": {
        "url": "https://dev.to/api/articles",
        "options": {},
        "requestMethod": "POST",
        "authentication": "headerAuth",
        "jsonParameters": true,
        "bodyParametersJson": "={\n\t\"article\": {\n\t\t\"title\": \"{{$json[\"body\"][\"entry\"][\"Title\"]}}\",\n\t\t\"published\": true,\n\t\t\"body_markdown\": \"{{$json[\"body\"][\"entry\"][\"PostContent\"]}}\",\n\t\t\"tags\":[\"{{$json[\"body\"][\"entry\"][\"Tag\"]}}\"]\n\t}\n}",
        "headerParametersJson": "{\"Content-Type\": \"application/json\"}"
      },
      "credentials": {
        "httpHeaderAuth": "Dev.to Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Medium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "Other & Templates",
      "template_name": "Publish_Medium_Articles_via_Webhook_Trigger"
    }
  },
  "runeflow_category": "ᛁᚾ Integration Hub",
  "runeflow_description": "Connect Everything",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Publish_Medium_Articles_via_Webhook_Trigger",
    "template_name": "Publish Medium Articles Via Webhook Trigger",
    "original_filename": "Publish_Medium_Articles_via_Webhook_Trigger",
    "category": "AI & Research",
    "quality_score": 3,
    "processed_date": "2025-07-31T07:29:59.100769",
    "nodes_count": 4,
    "has_credentials": true,
    "has_webhooks": true,
    "has_ai_nodes": false
  }
}