runerush/templates/processed_complete_vault/Twitter_AI_Analysis_and_Google_Sheets_Logging.json.backup_20250731_073935
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: Twitter_AI_Analysis_and_Google_Sheets_Logging\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Get Content Ideas",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        200,
        300
      ],
      "parameters": {
        "range": "Sheet1!A:C",
        "sheetId": "YOUR_GOOGLE_SHEET_ID"
      },
      "credentials": {
        "googleSheetsOAuth2Api": "YOUR_GOOGLE_SHEETS_CREDENTIALS"
      },
      "typeVersion": 1
    },
    {
      "name": "Generate Post with OpenAI",
      "type": "n8n-nodes-base.openAi",
      "position": [
        500,
        300
      ],
      "parameters": {
        "model": "gpt-4",
        "prompt": "Create a social media post for {{$node[\"Get Content Ideas\"].json[\"Platform\"]}} based on this idea: {{$node[\"Get Content Ideas\"].json[\"Idea\"]}}. Keep it engaging and concise."
      },
      "credentials": {
        "openAIApi": "YOUR_OPENAI_CREDENTIALS"
      },
      "typeVersion": 1
    },
    {
      "name": "Check Platform",
      "type": "n8n-nodes-base.if",
      "position": [
        800,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "{{$node[\"Get Content Ideas\"].json[\"Platform\"]}}",
              "value2": "Twitter",
              "operation": "equal"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "position": [
        1000,
        200
      ],
      "parameters": {
        "text": "{{$node[\"Generate Post with OpenAI\"].json[\"text\"]}}"
      },
      "credentials": {
        "twitterOAuth1Api": "YOUR_TWITTER_CREDENTIALS"
      },
      "typeVersion": 1
    },
    {
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1200,
        300
      ],
      "parameters": {
        "range": "Sheet1!D:F",
        "values": "Posted,{{$node[\"Generate Post with OpenAI\"].json[\"text\"]}},{{Date.now()}}",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "updateOperation": "append"
      },
      "credentials": {
        "googleSheetsOAuth2Api": "YOUR_GOOGLE_SHEETS_CREDENTIALS"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Check Platform": {
      "main": [
        [
          {
            "node": "Post to Twitter",
            "type": "main"
          }
        ]
      ]
    },
    "Post to Twitter": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Get Content Ideas": {
      "main": [
        [
          {
            "node": "Generate Post with OpenAI",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Post with OpenAI": {
      "main": [
        [
          {
            "node": "Check Platform",
            "type": "main"
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "AI & and & Research",
      "template_name": "Twitter_AI_Analysis_and_Google_Sheets_Logging"
    }
  },
  "runeflow_category": "ᚨᛁ AI & Research",
  "runeflow_description": "Intelligent Data Processing",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Twitter_AI_Analysis_and_Google_Sheets_Logging",
    "template_name": "Twitter Ai Analysis And Google Sheets Logging",
    "original_filename": "Twitter_AI_Analysis_and_Google_Sheets_Logging",
    "category": "AI & Research",
    "quality_score": 5,
    "processed_date": "2025-07-31T07:29:51.642236",
    "nodes_count": 6,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": true
  }
}