runerush/templates/processed_complete_vault/webhook_process_openweathermap_2.json.backup_20250731_073940
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n\\n📋 Template: webhook_process_openweathermap_2\\n📁 Category: Data & Analysis\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: bryan@runeflow.co\\n🌐 Website: https://runeflow.co\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://runeflow.co/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        870,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tempC",
              "value": "={{$json[\"main\"][\"temp\"]}}"
            },
            {
              "name": "humidity",
              "value": "={{$json[\"main\"][\"humidity\"]}}"
            },
            {
              "name": "windspeed",
              "value": "={{$json[\"wind\"][\"speed\"]}}"
            },
            {
              "name": "description",
              "value": "={{$json[\"weather\"][0][\"description\"]}}"
            },
            {
              "name": "city",
              "value": "={{$json[\"name\"]}}, {{$json[\"sys\"][\"country\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        650,
        300
      ],
      "parameters": {
        "cityName": "={{$json[\"body\"][\"city\"]}}"
      },
      "credentials": {
        "openWeatherMapApi": "open-weather-map"
      },
      "typeVersion": 1
    },
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        450,
        300
      ],
      "webhookId": "39f1b81f-f538-4b94-8788-29180d5e4016",
      "parameters": {
        "path": "39f1b81f-f538-4b94-8788-29180d5e4016",
        "options": {},
        "responseData": "allEntries",
        "responseMode": "lastNode"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "bryan@runeflow.co",
      "website": "https://runeflow.co",
      "support": "",
      "category": "Data & Analysis",
      "template_name": "webhook_process_openweathermap_2"
    }
  },
  "runeflow_category": "ᛞᚨ Data Analysis",
  "runeflow_description": "Transform Raw Data",
  "runeflow_contact": "contact@runeflow.com",
  "runeflow_website": "https://runeflow.com",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "webhook_process_openweathermap_2",
    "template_name": "Webhook Process Openweathermap 2",
    "original_filename": "webhook_process_openweathermap_2",
    "category": "AI & Research",
    "quality_score": 3,
    "processed_date": "2025-07-31T07:29:57.050418",
    "nodes_count": 4,
    "has_credentials": true,
    "has_webhooks": true,
    "has_ai_nodes": false
  }
}