runerush/templates/runeflow_pro_collection/RuneFlow_Rune_1447_General_Purpose_Automation.json
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 1447\\n\\n📋 Template: Manually_Triggered_Salesforce_Data_Update\\n📁 Category: Data & Analysis\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        420,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Salesforce",
      "type": "n8n-nodes-base.salesforce",
      "position": [
        620,
        260
      ],
      "parameters": {
        "company": "CompanyInc",
        "lastname": "DudeOne",
        "additionalFields": {}
      },
      "credentials": {
        "salesforceOAuth2Api": "salesforce_creds"
      },
      "typeVersion": 1
    },
    {
      "name": "Salesforce1",
      "type": "n8n-nodes-base.salesforce",
      "position": [
        810,
        260
      ],
      "parameters": {
        "leadId": "={{$node[\"Salesforce\"].json[\"id\"]}}",
        "operation": "update",
        "updateFields": {
          "city": "Berlin"
        }
      },
      "credentials": {
        "salesforceOAuth2Api": "salesforce_creds"
      },
      "typeVersion": 1
    },
    {
      "name": "Salesforce2",
      "type": "n8n-nodes-base.salesforce",
      "position": [
        1020,
        260
      ],
      "parameters": {
        "title": "Deal Won!",
        "leadId": "={{$node[\"Salesforce\"].json[\"id\"]}}",
        "options": {},
        "operation": "addNote"
      },
      "credentials": {
        "salesforceOAuth2Api": "salesforce_creds"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Salesforce": {
      "main": [
        [
          {
            "node": "Salesforce1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salesforce1": {
      "main": [
        [
          {
            "node": "Salesforce2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Data & Analysis",
      "template_name": "Manually_Triggered_Salesforce_Data_Update",
      "rune_number": "1447"
    }
  },
  "runeflow_category": "ᛞᚨ Data Analysis",
  "runeflow_description": "Transform Raw Data",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Manually_Triggered_Salesforce_Data_Update",
    "template_name": "Manually Triggered Salesforce Data Update",
    "original_filename": "Manually_Triggered_Salesforce_Data_Update",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:54.655699",
    "nodes_count": 5,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "1447"
}