runerush/templates/runeflow_pro_collection/RuneFlow_Rune_1518_New_WooCommerce_refund_to_Slack.json
{
  "id": 82,
  "name": "New WooCommerce refund to Slack",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 1518\\n\\n📋 Template: New_WooCommerce_refund_to_Slack\\n📁 Category: Email & and & Communication\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Order Updated",
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "position": [
        320,
        500
      ],
      "webhookId": "f7736be3-e978-4a17-b936-7ce9f8ccdb72",
      "parameters": {
        "event": "order.updated"
      },
      "credentials": {
        "wooCommerceApi": {
          "id": "48",
          "name": "WooCommerce account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "If Refund and Over 100",
      "type": "n8n-nodes-base.if",
      "position": [
        540,
        500
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"total\"]}}",
              "value2": 100,
              "operation": "largerEqual"
            }
          ],
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "value2": "refunded"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        780,
        480
      ],
      "parameters": {
        "text": ":x: A refund has been issued :x:",
        "channel": "woo-commerce",
        "blocksUi": {
          "blocksValues": []
        },
        "attachments": [
          {
            "color": "#FF0000",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Order ID",
                  "value": "={{$json[\"id\"]}}"
                },
                {
                  "short": true,
                  "title": "Status",
                  "value": "={{$json[\"status\"]}}"
                },
                {
                  "short": true,
                  "title": "Total",
                  "value": "={{$json[\"currency_symbol\"]}}{{$json[\"total\"]}}"
                }
              ]
            },
            "footer": "=*Order updated:* {{$json[\"date_modified\"]}}"
          }
        ],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "53",
          "name": "Slack Access Token"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all"
  },
  "connections": {
    "Order Updated": {
      "main": [
        [
          {
            "node": "If Refund and Over 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Refund and Over 100": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Email & and & Communication",
      "template_name": "New_WooCommerce_refund_to_Slack",
      "rune_number": "1518"
    }
  },
  "runeflow_category": "ᛖᛗ Email Marketing",
  "runeflow_description": "Engage Customers",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "New_WooCommerce_refund_to_Slack",
    "template_name": "New Woocommerce Refund To Slack",
    "original_filename": "New_WooCommerce_refund_to_Slack",
    "category": "AI & Research",
    "quality_score": 1,
    "processed_date": "2025-07-31T07:29:42.080018",
    "nodes_count": 4,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "1518"
}