runerush/templates/runeflow_pro_collection/RuneFlow_Rune_2970_General_Purpose_Automation.json
{
  "meta": {
    "instanceId": "4e19bc4d542ebb7cc77dcbf34c0c6dca5062ae1e34fd327b055beb054230d539",
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Personal & Automation",
      "template_name": "scheduled_automation_manual_1",
      "rune_number": "2970"
    }
  },
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 2970\\n\\n📋 Template: scheduled_automation_manual_1\\n📁 Category: Personal & Automation\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "id": "beebd9ac-4021-4e45-9971-4205c37e3742",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -500,
        40
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "61e48c99-fdd3-4db7-8e2e-67cb2c2dfd97",
      "name": "SIGNL4",
      "type": "n8n-nodes-base.signl4",
      "position": [
        60,
        -140
      ],
      "parameters": {
        "message": "=Weather alert ❄️ Temperature: {{ $json.main.temp }} °C",
        "additionalFields": {
          "title": "Weather Alert from n8n",
          "externalId": "weather-alert",
          "locationFieldsUi": {
            "locationFieldsValues": {
              "latitude": "={{ $json.coord.lat }}",
              "longitude": "={{ $json.coord.lon }}"
            }
          }
        }
      },
      "credentials": {
        "signl4Api": {
          "id": "EAiJUjPUA6kiAnG9",
          "name": "SIGNL4 Webhook account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "739a31e4-d353-4c95-bb84-b36f6a5560cf",
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        -320,
        -140
      ],
      "parameters": {
        "cityName": "Berlin"
      },
      "credentials": {
        "openWeatherMapApi": {
          "id": "oH1seTNeKu1d87wm",
          "name": "OpenWeatherMap account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "95aab17d-c0eb-439c-81ff-7452794a514a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -160,
        -140
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b95ba4e6-0749-4dd0-9830-14a6b0b5edcf",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": 25
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "ef813bf0-cd46-474e-9208-2efbd402782f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -500,
        -140
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "SIGNL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "runeflow_category": "ᚨᚢ Automation",
  "runeflow_description": "Streamline Workflows",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "scheduled_automation_manual_1",
    "template_name": "Scheduled Automation Manual 1",
    "original_filename": "scheduled_automation_manual_1",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:50.093964",
    "nodes_count": 6,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "2970"
}