runerush/templates/runeflow_numbered_templates/RuneFlow_Rune_6756_file_ops_httprequest_manual_3.json
{
  "id": "19",
  "meta": {
    "instanceId": "590b8a6424ded2dccf0f04ef13db2f02f968ec0b6d208436c385cdb410341348",
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Forms & and & Surveys",
      "template_name": "file_ops_httprequest_manual_3",
      "rune_number": "6756"
    }
  },
  "name": "Snowflake CSV",
  "tags": [],
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 6756\\n\\n📋 Template: file_ops_httprequest_manual_3\\n📁 Category: Forms & and & Surveys\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "id": "da710a80-484b-4fe3-80fa-e699bb6499ad",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        440,
        380
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "f419ebfb-9eae-4fea-b05b-aabc97b5f47f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        380
      ],
      "parameters": {
        "url": "https://n8niostorageaccount.blob.core.windows.net/n8nio-strapi-blobs-prod/assets/example_c0b48ce677.csv?updated_at=2023-05-30T10:36:21.820Z",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "fe45e2a2-b50f-4459-a8ee-78615239dee0",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        820,
        380
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "54e31892-c8e1-423c-a24a-8e5eb1312b0a",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        1000,
        380
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ],
          "string": [
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        },
        "keepOnlySet": true
      },
      "typeVersion": 2
    },
    {
      "id": "c482d8e8-0792-4b61-a2e0-d437c9fe9062",
      "name": "Snowflake",
      "type": "n8n-nodes-base.snowflake",
      "position": [
        1200,
        380
      ],
      "parameters": {
        "table": "users",
        "columns": "id,first_name,last_name"
      },
      "credentials": {
        "snowflake": {
          "id": "23",
          "name": "Snowflake account"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {},
  "versionId": "a6348461-b174-4608-961f-d9d86730b573",
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Snowflake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "runeflow_category": "ᚦᚨ Task Management",
  "runeflow_description": "Workflow Orchestration",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_rune": "6756"
}