runerush/templates/runeflow_numbered_templates/RuneFlow_Rune_1808_YouTube_to_Raindrop_Standard_Scheduled.json
{
  "id": 7,
  "name": "YouTube to Raindrop",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 1808\\n\\n📋 Template: Save_New_YouTube_Videos_to_Raindrop_Bookmarks\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -610,
        160
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "position": [
        -440,
        240
      ],
      "parameters": {
        "part": [
          "snippet"
        ],
        "options": {},
        "resource": "playlistItem",
        "operation": "getAll",
        "playlistId": "CHANGE_ME"
      },
      "credentials": {
        "youTubeOAuth2Api": "Google n8n"
      },
      "typeVersion": 1
    },
    {
      "name": "Filter new items",
      "type": "n8n-nodes-base.function",
      "position": [
        -120,
        240
      ],
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newIds = items.map(item => item.json[\"resourceId\"][\"videoId\"]);\nconst oldIds = staticData.oldIds; \n\nif (!oldIds) {\n staticData.oldIds = newIds;\n return items;\n}\n\n\nconst actualNewIds = newIds.filter((id) => !oldIds.includes(id));\nconst actualNew = items.filter((data) => actualNewIds.includes(data.json[\"resourceId\"][\"videoId\"]));\nstaticData.oldIds = [...actualNewIds, ...oldIds];\n\nreturn actualNew;\n"
      },
      "typeVersion": 1
    },
    {
      "name": "Flatten JSON",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        -280,
        240
      ],
      "parameters": {
        "functionCode": "item = item[\"snippet\"]\n\nreturn item;"
      },
      "typeVersion": 1
    },
    {
      "name": "Raindrop Bookmark",
      "type": "n8n-nodes-base.raindrop",
      "position": [
        40,
        240
      ],
      "parameters": {
        "link": "=https://www.youtube.com/watch?v={{$json[\"resourceId\"][\"videoId\"]}}",
        "resource": "bookmark",
        "operation": "create",
        "collectionId": 0,
        "additionalFields": {
          "tags": "youtube",
          "title": "={{$json[\"videoOwnerChannelTitle\"]}} | {{$json[\"title\"]}}"
        }
      },
      "credentials": {
        "raindropOAuth2Api": "Raindrop"
      },
      "typeVersion": 1
    },
    {
      "name": "Every 30 mins",
      "type": "n8n-nodes-base.cron",
      "position": [
        -610,
        320
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 30
            }
          ]
        }
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "settings": {},
  "connections": {
    "YouTube": {
      "main": [
        [
          {
            "node": "Flatten JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten JSON": {
      "main": [
        [
          {
            "node": "Filter new items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 30 mins": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter new items": {
      "main": [
        [
          {
            "node": "Raindrop Bookmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "AI & and & Research",
      "template_name": "Save_New_YouTube_Videos_to_Raindrop_Bookmarks",
      "rune_number": "1808"
    }
  },
  "runeflow_category": "ᚨᛁ AI & Research",
  "runeflow_description": "Intelligent Data Processing",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Save_New_YouTube_Videos_to_Raindrop_Bookmarks",
    "template_name": "Save New Youtube Videos To Raindrop Bookmarks",
    "original_filename": "Save_New_YouTube_Videos_to_Raindrop_Bookmarks",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:38.868184",
    "nodes_count": 7,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "1808"
}