runerush/templates/runeflow_numbered_templates/RuneFlow_Rune_2220_N8N_Español_-_BOT_Basic_Telegram.json
{
  "id": "27",
  "name": "N8N Español - BOT",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 2220\\n\\n📋 Template: Telegram_Bot_Responder_for_Spanish_Language_Support\\n📁 Category: Email & and & Communication\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Saludos-IF",
      "type": "n8n-nodes-base.if",
      "position": [
        450,
        450
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"new_chat_member\"][\"first_name\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Saludos-IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        490,
        630
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"left_chat_member\"][\"first_name\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "S-Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        700,
        660
      ],
      "parameters": {
        "text": "=✖️ {{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"left_chat_member\"][\"first_name\"]}} DEP. 🙏 Que los Dioses te protejan.",
        "chatId": "=@comunidadn8n",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Español - BOT"
      },
      "typeVersion": 1
    },
    {
      "name": "Saludos-TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        260,
        560
      ],
      "webhookId": "4ef8c98e-e617-4d36-9c6d-04fae7e9298c",
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Español - BOT"
      },
      "typeVersion": 1
    },
    {
      "name": "S-Telegram2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        730,
        460
      ],
      "parameters": {
        "text": "=✔️ {{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"new_chat_member\"][\"first_name\"]}}, ¡bienvenid@ a N8N en Españoll! 🙌",
        "chatId": "=@comunidadn8n",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Español - BOT"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "settings": {},
  "connections": {
    "Saludos-IF": {
      "main": [
        [],
        [
          {
            "node": "S-Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saludos-IF1": {
      "main": [
        [],
        [
          {
            "node": "S-Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saludos-TelegramTrigger": {
      "main": [
        [
          {
            "node": "Saludos-IF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Saludos-IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Email & and & Communication",
      "template_name": "Telegram_Bot_Responder_for_Spanish_Language_Support",
      "rune_number": "2220"
    }
  },
  "runeflow_category": "ᛖᛗ Email Marketing",
  "runeflow_description": "Engage Customers",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Telegram_Bot_Responder_for_Spanish_Language_Support",
    "template_name": "Telegram Bot Responder For Spanish Language Support",
    "original_filename": "Telegram_Bot_Responder_for_Spanish_Language_Support",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:51.313066",
    "nodes_count": 6,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "2220"
}