runerush/templates/TEMP_COMPLETE_FIX/RuneFlow_Rune_2503_Youtube_Strategist_SlackIntegration_Enterprise_OpenAI.json
{
  "name": "Youtube Strategist",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 2503\\n\\n📋 Template: Youtube_Strategist(1)\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 2503\\n\\n📋 Template: Youtube_Strategist(1)\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 2503\\n\\n📋 Template: Youtube_Strategist(1)\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 2503\\n\\n📋 Template: Youtube_Strategist(1)\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 2503\\n\\n📋 Template: Youtube_Strategist(1)\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Niche Outliers",
        "formDescription": "Input 3 high quality channel URLs in your niche",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Channel 1",
              "placeholder": "https://www.youtube.com/@nateherk",
              "requiredField": true
            },
            {
              "fieldLabel": "Channel 2",
              "placeholder": "https://www.youtube.com/@nateherk",
              "requiredField": true
            },
            {
              "fieldLabel": "Channel 3",
              "placeholder": "https://www.youtube.com/@nateherk",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        980,
        260
      ],
      "id": "8cb72d3e-bab6-4bdb-83b1-02e32f005a79",
      "name": "On form submission",
      "webhookId": "04baa499-4b3a-4ba3-9dd5-4cecb73864a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20f6c922-f0d8-4b22-9fbe-200c0d239b4d",
              "name": "channels",
              "value": "=[\"{{ $json['Channel 1'] }}\",\"{{ $json['Channel 2'] }}\",\"{{ $json['Channel 3'] }}\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        260
      ],
      "id": "f51a5acb-02b0-4e20-bcb7-93df59d82721",
      "name": "3 Channels"
    },
    {
      "parameters": {
        "fieldToSplitOut": "channels",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1300,
        260
      ],
      "id": "3428951d-0a58-40cd-92dc-737c9c1e7cc0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1500,
        180
      ],
      "id": "23239031-6670-4952-a489-2ecf478570d8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2260,
        180
      ],
      "id": "d18577e0-554b-4b9a-8ff0-a05f34cbe3fd",
      "name": "Title Analyzer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2560,
        240
      ],
      "id": "1544f7a4-b17f-4df3-a795-0ecea76fa704",
      "name": "GPT 4.1-mini",
      "credentials": {
        "openRouterApi": {
          "id": "uKzpYXiTRUPV08MM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2780,
        180
      ],
      "id": "3e8f2ae3-a599-47ea-8e18-632f8bb00969",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple",
        "imageUrls": "={{ $('Channel Outliers').item.json.thumbnailUrl }}",
        "simplify": false,
        "options": {
          "detail": "high",
          "maxTokens": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2340,
        320
      ],
      "id": "35511464-5e8d-4154-85cd-40416ff0c21c",
      "name": "Analyze Thumbnails",
      "credentials": {
        "openAiApi": {
          "id": "AYn73xqiJVahMzA0",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f19a9cd-6201-41f6-ba7e-9e7fddb48e1e",
              "name": "channel",
              "value": "={{ $json.channelName }}",
              "type": "string"
            },
            {
              "id": "8f29f01f-fa89-4a6c-8ed9-9b216dd722a8",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4a82add2-86aa-418b-a8dc-bbfb809f658e",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "c9f9b9a0-d960-4411-b5cc-b3c14f446f95",
              "name": "thumbnail",
              "value": "={{ $json.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "43d1ad8f-f704-4cf6-84b0-9cad874c87d7",
              "name": "views",
              "value": "={{ $json.viewCount }}",
              "type": "number"
            },
            {
              "id": "282f8501-f8e7-46ed-9b53-4b6a57e312ca",
              "name": "likes",
              "value": "={{ $json.likes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        40
      ],
      "id": "7814667d-fcc6-41d8-9cad-103a2dd2317e",
      "name": "Set Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3040,
        260
      ],
      "id": "ec6617fa-645f-4dce-b4aa-2f7cd0637e21",
      "name": "Niche Outliers Data",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "# Phase 1) Niche Outliers",
        "height": 480,
        "width": 2400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        0
      ],
      "id": "0ba365e7-23af-47fa-b4e9-de6e3945269d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"dateFilter\": \"week\",\n \"downloadSubtitles\": false,\n \"hasCC\": false,\n \"hasLocation\": false,\n \"hasSubtitles\": false,\n \"is360\": false,\n \"is3D\": false,\n \"is4K\": false,\n \"isBought\": false,\n \"isHD\": false,\n \"isHDR\": false,\n \"isLive\": false,\n \"isVR180\": false,\n \"maxResultStreams\": 0,\n \"maxResults\": 5,\n \"maxResultsShorts\": 0,\n \"preferAutoGeneratedSubtitles\": false,\n \"saveSubsToKVS\": false,\n \"searchQueries\": [\n \"{{ $json.niche }}\"\n ],\n \"sortingOrder\": \"views\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        620
      ],
      "id": "fd779524-bed7-46f5-96b6-bb5116962520",
      "name": "Scrape YT"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1460,
        620
      ],
      "id": "6e834c8c-d461-4a94-88d8-77d6405ba1d2",
      "name": "Title Analyzer1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple",
        "imageUrls": "={{ $('Scrape YT').item.json.thumbnailUrl }}",
        "simplify": false,
        "options": {
          "detail": "high",
          "maxTokens": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1780,
        620
      ],
      "id": "e0948eb1-6ff8-4b22-894b-6943901116ea",
      "name": "Analyze Thumbnails1",
      "credentials": {
        "openAiApi": {
          "id": "AYn73xqiJVahMzA0",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1440,
        740
      ],
      "id": "6eff7565-8e0c-44d9-a798-38f24a34bb9c",
      "name": "GPT 4.1-mini1",
      "credentials": {
        "openRouterApi": {
          "id": "uKzpYXiTRUPV08MM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feeba2c9-c8f4-4f97-aeab-a5c3c7dc94ad",
              "name": "niche",
              "value": "artificial intelligence",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        620
      ],
      "id": "4f9eb48a-47c2-4e06-9a55-86b019ec84f5",
      "name": "Broad Niche"
    },
    {
      "parameters": {
        "content": "# Phase 2) Broad Niche Insights (Weekly)",
        "height": 380,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        500
      ],
      "id": "6e8cb050-80f6-43a1-9d92-796ad782a1c2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"dateFilter\": \"week\",\n \"downloadSubtitles\": false,\n \"hasCC\": false,\n \"hasLocation\": false,\n \"hasSubtitles\": false,\n \"is360\": false,\n \"is3D\": false,\n \"is4K\": false,\n \"isBought\": false,\n \"isHD\": false,\n \"isHDR\": false,\n \"isLive\": false,\n \"isVR180\": false,\n \"maxResultStreams\": 0,\n \"maxResults\": 5,\n \"maxResultsShorts\": 0,\n \"preferAutoGeneratedSubtitles\": false,\n \"saveSubsToKVS\": false,\n \"searchQueries\": [\n \"{{ $json.niche }}\"\n ],\n \"sortingOrder\": \"views\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        1020
      ],
      "id": "f99f8430-be6d-445b-924e-30c8f0018f2b",
      "name": "Scrape YT1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1460,
        1020
      ],
      "id": "df364372-a944-49db-ac16-99f8adc234d0",
      "name": "Title Analyzer2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple",
        "imageUrls": "={{ $('Scrape YT1').item.json.thumbnailUrl }}",
        "simplify": false,
        "options": {
          "detail": "high",
          "maxTokens": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1780,
        1020
      ],
      "id": "51409f6a-beeb-4227-acb2-45917e41b603",
      "name": "Analyze Thumbnails2",
      "credentials": {
        "openAiApi": {
          "id": "AYn73xqiJVahMzA0",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1420,
        1140
      ],
      "id": "81e93723-2c2d-4ee9-84bc-70f8bce9d436",
      "name": "GPT 4.1-mini2",
      "credentials": {
        "openRouterApi": {
          "id": "uKzpYXiTRUPV08MM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Phase 3) Niche Insights (Daily)",
        "height": 380,
        "width": 1280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        900
      ],
      "id": "2f2a34a1-9554-4ed1-a87f-c2b556709f56",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feeba2c9-c8f4-4f97-aeab-a5c3c7dc94ad",
              "name": "niche",
              "value": "n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1020
      ],
      "id": "e491aa91-c111-4f29-8743-2484ee3121ac",
      "name": "Niche"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        1020
      ],
      "id": "c7d98fc4-edd7-4b02-80f9-5f0fca225a4b",
      "name": "6 am"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        620
      ],
      "id": "13396058-2e59-4987-8ebd-d7af4f142f1a",
      "name": "Sundays"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1940,
        1020
      ],
      "id": "47adeeab-73dc-4a57-accf-dae52fcdbb7f",
      "name": "Niche Daily",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9d530bf-3ca2-48c3-a40b-24f22646289d",
              "name": "Channel Details",
              "value": "=Nate Herk creates practical, beginner-friendly videos that teach people how to build AI automations using n8n. His content is aimed at solopreneurs, small business owners, and aspiring automation developers who want to save time, reduce costs, and scale without hiring. Whether you're just getting started with AI or looking to level up your automation skills, Nate breaks down complex workflows into simple, actionable tutorials that anyone can follow.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2520,
        1020
      ],
      "id": "9e24aee9-7fda-4d73-a27c-dab3c1589d7d",
      "name": "Channel Description"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2900,
        1120
      ],
      "id": "c06cd594-11ff-46eb-b8ce-717b9a12f81f",
      "name": "Titles & Thumbs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2960,
        1020
      ],
      "id": "21a1094b-24e5-49f2-ba38-64c22318a76c",
      "name": "Append Ideas",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76d7e324-60bd-4b29-a85b-f62166af1f97",
              "name": "channel",
              "value": "https://www.youtube.com/@nateherk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        620
      ],
      "id": "a00c5d3b-264b-4c5a-a13e-d99c6514b320",
      "name": "Channel URL",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2660,
        1020
      ],
      "id": "fc54626c-4007-4fa5-98da-fb7817eeaea7",
      "name": "Creative Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"downloadSubtitles\": false,\n \"hasCC\": false,\n \"hasLocation\": false,\n \"hasSubtitles\": false,\n \"is360\": false,\n \"is3D\": false,\n \"is4K\": false,\n \"isBought\": false,\n \"isHD\": false,\n \"isHDR\": false,\n \"isLive\": false,\n \"isVR180\": false,\n \"maxResultStreams\": 0,\n \"maxResults\": 5,\n \"maxResultsShorts\": 0,\n \"preferAutoGeneratedSubtitles\": false,\n \"saveSubsToKVS\": false,\n \"sortVideosBy\": \"NEWEST\",\n \"startUrls\": [\n {\n \"url\": \"{{ $json.channel }}\",\n \"method\": \"GET\"\n }\n ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        620
      ],
      "id": "b7291084-0da4-4328-bfe0-d5e48c6cb0b7",
      "name": "Scrape Channel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-comments-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"commentsSortBy\": \"1\",\n \"maxComments\": 30,\n \"startUrls\": [\n {\n \"url\": \"{{ $json.url }}\",\n \"method\": \"GET\"\n }\n ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        620
      ],
      "id": "612dcdaf-c9ac-4c2f-8e0a-5359fed6f3e3",
      "name": "Get Comments"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "comment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2660,
        620
      ],
      "id": "d81eb083-aade-41df-a397-306498fdb403",
      "name": "Aggregate1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2800,
        620
      ],
      "id": "19743408-21a1-45ad-85c2-1f2374849be0",
      "name": "Comment Analyzer"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3020,
        720
      ],
      "id": "1bd5d7e8-148c-4a98-a9e7-c771483207c4",
      "name": "Insights"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2240,
        1020
      ],
      "id": "50d46745-436f-4744-ad38-9fa974ef494a",
      "name": "Get High Performers",
      "credentials": {}
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Title"
            },
            {
              "fieldToAggregate": "Power Words"
            },
            {
              "fieldToAggregate": "Thumbnail Analysis"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2380,
        1020
      ],
      "id": "23f2be60-cc48-4b18-b066-890d1e20f749",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08L6NPLT98",
          "mode": "list",
          "cachedResultName": "youtube"
        },
        "text": "=Your Niche and Channel Audit for {{ $now.format('yyyy-MM-dd') }} is complete. \n\nView the results and insights here: \nhttps://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit?gid=1836706523#gid=1836706523",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3100,
        1020
      ],
      "id": "291692de-8e9e-4ea6-8178-59c7aa2b68b4",
      "name": "Notification",
      "webhookId": "0d1bb128-308a-4ebb-a83e-f41c491c91d0",
      "credentials": {
        "slackApi": {
          "id": "uzV1nso0S7EoNjc4",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2760,
        720
      ],
      "id": "4c784573-40ff-4416-962c-ec35648c6845",
      "name": "GPT 4.1-mini3",
      "credentials": {
        "openRouterApi": {
          "id": "uKzpYXiTRUPV08MM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2620,
        1120
      ],
      "id": "6c2695d5-71ae-448c-bf9f-60f1513de6db",
      "name": "GPT 4.1-mini4",
      "credentials": {
        "openRouterApi": {
          "id": "uKzpYXiTRUPV08MM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3100,
        620
      ],
      "id": "f6f7bc38-6b6f-40e0-b58d-6e7a17c6882f",
      "name": "Comment Analysis",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "# Phase 4) Comment Analysis",
        "height": 380,
        "width": 1100,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        500
      ],
      "id": "4b25c266-e424-40c0-9072-aa6797d34c44",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Phase 5) Ideation",
        "height": 380,
        "width": 1100,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        900
      ],
      "id": "3b050eb9-ba18-47b7-8ba7-8f0348dbf171",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"downloadSubtitles\": false,\n \"hasCC\": false,\n \"hasLocation\": false,\n \"hasSubtitles\": false,\n \"is360\": false,\n \"is3D\": false,\n \"is4K\": false,\n \"isBought\": false,\n \"isHD\": false,\n \"isHDR\": false,\n \"isLive\": false,\n \"isVR180\": false,\n \"maxResultStreams\": 0,\n \"maxResults\": 30,\n \"maxResultsShorts\": 0,\n \"preferAutoGeneratedSubtitles\": false,\n \"saveSubsToKVS\": false,\n \"sortVideosBy\": \"POPULAR\",\n \"sortingOrder\": \"views\",\n \"startUrls\": [\n {\n \"url\": \"{{ $json.channels }}\",\n \"method\": \"GET\"\n }\n ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        80
      ],
      "id": "407666ed-4c55-4464-a66a-a402e289b9e5",
      "name": "Channel Outliers"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "viewCount",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1900,
        80
      ],
      "id": "d98a4c96-c804-45b5-a563-371240451d35",
      "name": "Sort1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "63026392-559e-4b21-be7d-224fea72c911",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ DateTime.now().minus({ months: 6 }).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1700,
        280
      ],
      "id": "0f84cb8b-d7cd-4de0-861f-68546e7551e4",
      "name": "Filter"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1900,
        280
      ],
      "id": "020fe902-ad52-421a-8a99-93fdfc79eea8",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1940,
        620
      ],
      "id": "17814c88-b4ec-4ab3-9215-6b29a02f6bf4",
      "name": "Broad Niche Weekly",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "# ⚙️ Setup Guide \n**Author:** [Damian Player](https://www.youtube.com/@DamianPlayer)\n\nFollow these steps to configure your n8n workflow:\n\n### ✅ Step 1: Get Your [Apify](https://www.apify.com) API Key \n\nPlug this API key into the **5 HTTP Request nodes** in your workflow. Once connected, your Apify setup is complete.\n\n### ✅ Step 2: Connect Your [OpenRouter](https://openrouter.ai/) & [OpenAI API](https://platform.openai.com/settings/organization/api-keys) Keys \n- Get your OpenRouter API key, add billing info, and connect the credential in n8n. \n- For image analysis, you also need to connect a **separate OpenAI credential**.\n\n### ✅ Step 3: Copy & Link the [Google Sheet Template](https://docs.google.com/spreadsheets/d/1QfQjiSqmIOQVwtQ036YzGa-eXIJhC1b8SjTOm28R9Bc/edit?usp=sharing) \nMake a copy in your Google account. \nThen, connect it in all **Google Sheet nodes**. \nEnsure you're linking the **correct sheet and tabs** for each node.\n\n### ✅ Step 4: Customize Triggers & Settings \n- Set the **Schedule Triggers** to run at your desired intervals. \n- Test the **Form Submission Trigger** on channels in your niche. \n- Fill in your information in the **Set nodes**:\n - **Phase II:** Broad Niche \n - **Phase III:** Specific Niche \n - **Phase IV:** Channel URL \n - **Phase V:** Channel Description \n\n### 🧪 Final Step: Run Tests \nOnce everything is linked, start testing to ensure all components fire correctly and data flows as expected.\n",
        "height": 1040,
        "width": 840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "da69d9b0-1f7b-44a1-b2fe-94b0971d3d74",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "3 Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 Channels": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Channel Outliers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Broad Niche": {
      "main": [
        [
          {
            "node": "Scrape YT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Niche": {
      "main": [
        [
          {
            "node": "Scrape YT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6 am": {
      "main": [
        [
          {
            "node": "Niche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sundays": {
      "main": [
        [
          {
            "node": "Broad Niche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel URL": {
      "main": [
        [
          {
            "node": "Scrape Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Channel": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comments": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Channel Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Outliers": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze Thumbnails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "660ca007-ca26-4334-9def-ded78ecf6ea5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b49034d22b8d37ab06240a1fc9151c8a5abdbeec79427b26216d57ca8b61b938",
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "AI & and & Research",
      "template_name": "Youtube_Strategist(1)",
      "rune_number": "2503"
    }
  },
  "id": "PxIUd81dvCjyDIGS",
  "tags": [],
  "runeflow_category": "ᚨᛁ AI & Research",
  "runeflow_description": "Intelligent Data Processing",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Youtube_Strategist_1",
    "template_name": "Youtube Strategist 1",
    "original_filename": "Youtube_Strategist(1)",
    "category": "AI & Research",
    "quality_score": 7,
    "processed_date": "2025-07-31T07:30:01.036936",
    "nodes_count": 55,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": true
  },
  "runeflow_rune": "2503"
}