runerush/templates/TEMP_COMPLETE_FIX/RuneFlow_Rune_2444_General_Purpose_Automation_ProcessAutomation_Basic_Sheets.json
{
  "meta": {
    "instanceId": "b503899dfd9ae32bbf8e1f446a1f2c9b3c59f80c79b274c49b1606b7ae9579e1",
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Data & Analysis",
      "template_name": "Website_to_PDF_Google_Sheets_Trigger_to_Drive_Upload",
      "rune_number": "2444"
    }
  },
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 2444\\n\\n📋 Template: Website_to_PDF_Google_Sheets_Trigger_to_Drive_Upload\\n📁 Category: Data & Analysis\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "id": "21da7bb6-6544-4756-9d0a-ab8ae21650d4",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        -120,
        -20
      ],
      "parameters": {
        "event": "rowAdded",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g/edit?usp=drivesdk",
          "cachedResultName": "URL list"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "39a9a0a3-13c7-4271-bca4-31848201e48b",
      "name": "Take a screenshot of a website",
      "type": "@custom-js/n8n-nodes-pdf-toolkit.websiteScreenshot",
      "position": [
        160,
        -20
      ],
      "parameters": {
        "urlInput": "={{ $json.Url }}"
      },
      "typeVersion": 1
    },
    {
      "id": "1dc3cb1a-99ee-4e85-b628-0f4a77149728",
      "name": "Store Screenshots",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        400,
        -20
      ],
      "parameters": {
        "name": "={{ $json.Title }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1oFbmzgG2fsRix45r5JtowYjAdwskJ0P6",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1oFbmzgG2fsRix45r5JtowYjAdwskJ0P6",
          "cachedResultName": "screenshots"
        }
      },
      "typeVersion": 3
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Take a screenshot of a website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take a screenshot of a website": {
      "main": [
        [
          {
            "node": "Store Screenshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "runeflow_category": "ᛞᚨ Data Analysis",
  "runeflow_description": "Transform Raw Data",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Website_to_PDF_Google_Sheets_Trigger_to_Drive_Upload",
    "template_name": "Website To Pdf Google Sheets Trigger To Drive Upload",
    "original_filename": "Website_to_PDF_Google_Sheets_Trigger_to_Drive_Upload",
    "category": "AI & Research",
    "quality_score": 0,
    "processed_date": "2025-07-31T07:29:57.111172",
    "nodes_count": 4,
    "has_credentials": false,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "2444"
}