runerush/templates/TEMP_COMPLETE_FIX/RuneFlow_Rune_6370_Trigger_Webflow_Automation_Actions_Manually_Automation_Basic_Manual.json
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 6370\\n\\n📋 Template: Trigger_Webflow_Actions_Manually\\n📁 Category: Other & Templates\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        200
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Webflow",
      "type": "n8n-nodes-base.webflow",
      "position": [
        450,
        200
      ],
      "parameters": {
        "siteId": "601788abebf7aa35c1b038a1",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "n8n"
            },
            {
              "fieldId": "slug",
              "fieldValue": "n8n"
            },
            {
              "fieldId": "_archived",
              "fieldValue": "false"
            },
            {
              "fieldId": "_draft",
              "fieldValue": "false"
            }
          ]
        },
        "operation": "create",
        "collectionId": "601788ab33a62ac6a2a0284c"
      },
      "credentials": {
        "webflowApi": "Webflow Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Webflow2",
      "type": "n8n-nodes-base.webflow",
      "position": [
        650,
        200
      ],
      "parameters": {
        "itemId": "={{$json[\"_id\"]}}",
        "siteId": "601788abebf7aa35c1b038a1",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{$json[\"name\"]}}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{$json[\"slug\"]}}"
            },
            {
              "fieldId": "_archived",
              "fieldValue": "={{$json[\"_archived\"]}}"
            },
            {
              "fieldId": "_draft",
              "fieldValue": "={{$json[\"_draft\"]}}"
            },
            {
              "fieldId": "avatar",
              "fieldValue": "https://n8n.io/n8n-logo.png"
            }
          ]
        },
        "operation": "update",
        "collectionId": "601788ab33a62ac6a2a0284c"
      },
      "credentials": {
        "webflowApi": "Webflow Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Webflow1",
      "type": "n8n-nodes-base.webflow",
      "position": [
        850,
        200
      ],
      "parameters": {
        "itemId": "={{$json[\"_id\"]}}",
        "siteId": "601788abebf7aa35c1b038a1",
        "collectionId": "601788ab33a62ac6a2a0284c"
      },
      "credentials": {
        "webflowApi": "Webflow Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webflow": {
      "main": [
        [
          {
            "node": "Webflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow2": {
      "main": [
        [
          {
            "node": "Webflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Webflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Other & Templates",
      "template_name": "Trigger_Webflow_Actions_Manually",
      "rune_number": "6370"
    }
  },
  "runeflow_category": "ᛁᚾ Integration Hub",
  "runeflow_description": "Connect Everything",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_rune": "6370"
}