runerush/templates/TEMP_COMPLETE_FIX/RuneFlow_Rune_1484_Receive_messages_from_a_queue_via_RabbitMQ_and_send_an_SMS_Automation_Basic_Simple_Nodes5_if_noOp_rabbitmqTrigger_V2.json
{
  "id": "186",
  "name": "Receive messages from a queue via RabbitMQ and send an SMS",
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 1484\\n\\n📋 Template: Monitor_Queue_and_Send_SMS_Notifications\\n📁 Category: Email & and & Communication\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "RabbitMQ",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "position": [
        520,
        220
      ],
      "parameters": {
        "queue": "temp",
        "options": {
          "onlyContent": true,
          "jsonParseBody": true
        }
      },
      "credentials": {
        "rabbitmq": "RabbitMQ Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        720,
        220
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"RabbitMQ\"].json[\"temp\"]}}",
              "value2": 50,
              "operation": "larger"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Vonage",
      "type": "n8n-nodes-base.vonage",
      "position": [
        930,
        120
      ],
      "parameters": {
        "message": "=Alert!\nThe value of temp is {{$node[\"RabbitMQ\"].json[\"temp\"]}}.",
        "additionalFields": {}
      },
      "credentials": {
        "vonageApi": "vonage"
      },
      "typeVersion": 1
    },
    {
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        920,
        370
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Vonage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Email & and & Communication",
      "template_name": "Monitor_Queue_and_Send_SMS_Notifications",
      "rune_number": "1484"
    }
  },
  "runeflow_category": "ᛖᛗ Email Marketing",
  "runeflow_description": "Engage Customers",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "Monitor_Queue_and_Send_SMS_Notifications",
    "template_name": "Monitor Queue And Send Sms Notifications",
    "original_filename": "Monitor_Queue_and_Send_SMS_Notifications",
    "category": "AI & Research",
    "quality_score": 2,
    "processed_date": "2025-07-31T07:29:49.445201",
    "nodes_count": 5,
    "has_credentials": true,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "1484"
}