runerush/templates/TEMP_COMPLETE_FIX/RuneFlow_Rune_7883_webhook_process_gmail_EmailAutomation_hubspot_7nodes_EmailAutomation_Standard_Gmail.json
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 7883\\n\\n📋 Template: webhook_process_gmail_hubspot_7nodes\\n📁 Category: AI & and & Research\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "create new contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        -300,
        1200
      ],
      "parameters": {
        "email": "={{$json[\"form_email\"]}}",
        "resource": "contact",
        "additionalFields": {
          "industry": "={{$json[\"form_department\"]}}",
          "lastName": "={{$json[\"form_lastname\"]}}",
          "firstName": "={{$json[\"form_firstname\"]}}",
          "companyName": "={{$json[\"form_companyname\"]}}"
        }
      },
      "credentials": {
        "hubspotApi": "hubspot_nodeqa"
      },
      "typeVersion": 1
    },
    {
      "name": "update lead stage",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        100,
        1100
      ],
      "parameters": {
        "email": "={{$node[\"create new contact\"].json[\"properties\"][\"email\"][\"value\"]}}",
        "resource": "contact",
        "additionalFields": {
          "lifeCycleStage": "opportunity"
        }
      },
      "credentials": {
        "hubspotApi": "hubspot_nodeqa"
      },
      "typeVersion": 1
    },
    {
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        100,
        1300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Set values",
      "type": "n8n-nodes-base.set",
      "position": [
        -500,
        1200
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "form_firstname",
              "value": "={{$json[\"First up, what's your name?\"]}}"
            },
            {
              "name": "form_lastname",
              "value": "={{$json[\"And your surname, [field:fda1954c-f7a3-4fd3-a8dc-dcad5160bab5]?\"]}}"
            },
            {
              "name": "form_department",
              "value": "={{$json[\"And in which department do you work, [field:fda1954c-f7a3-4fd3-a8dc-dcad5160bab5]?\"]}}"
            },
            {
              "name": "form_companyname",
              "value": "={{$json[\"Great! Now what company are you from?\"]}}"
            },
            {
              "name": "form_email",
              "value": "={{$json[\"Just a couple more questions left! What's your email address?\"]}}"
            }
          ],
          "boolean": [
            {
              "name": "form_interest",
              "value": "={{$json[\"And are you currently looking to scale your visual content?\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Typeform Trigger",
      "type": "n8n-nodes-base.typeformTrigger",
      "position": [
        -700,
        1200
      ],
      "webhookId": "97eb74c8-156c-4329-8679-37b69533f709",
      "parameters": {
        "formId": "RPueloJC"
      },
      "credentials": {
        "typeformApi": "typeform"
      },
      "typeVersion": 1
    },
    {
      "name": "lead interested",
      "type": "n8n-nodes-base.if",
      "position": [
        -100,
        1200
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Set values\"].json[\"form_interest\"]}}",
              "value2": true
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "send information",
      "type": "n8n-nodes-base.gmail",
      "position": [
        300,
        1100
      ],
      "parameters": {
        "toList": [
          "={{$json[\"properties\"][\"email\"][\"value\"]}}"
        ],
        "message": "=Hello {{$json[\"properties\"][\"firstname\"][\"value\"]}},\n\nI'm glad to hear you're interested in our services. You can schedule a call with me here: [calendly_link].\nUntil then, check out this presentation about how we can help your business: [presentation_link].\nLooking forward to talking to you!\n\nBest,\nTeam",
        "subject": "So you're interested in growing your business",
        "resource": "message",
        "additionalFields": {}
      },
      "credentials": {
        "gmailOAuth2": "gmail"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set values": {
      "main": [
        [
          {
            "node": "create new contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead interested": {
      "main": [
        [
          {
            "node": "update lead stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Set values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update lead stage": {
      "main": [
        [
          {
            "node": "send information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create new contact": {
      "main": [
        [
          {
            "node": "lead interested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "AI & and & Research",
      "template_name": "webhook_process_gmail_hubspot_7nodes",
      "rune_number": "7883"
    }
  },
  "runeflow_category": "ᚨᛁ AI & Research",
  "runeflow_description": "Intelligent Data Processing",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_rune": "7883"
}