runerush/templates/TEMP_COMPLETE_FIX/RuneFlow_Rune_3039_Slack_Integration_Automation_SlackIntegration_Basic_Simple_Nodes5_scheduleTrigger_slack_wordpres_V9.json
{
  "nodes": [
    {
      "id": "RuneFlow-branding-note",
      "name": "🔥 RuneFlow Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 300,
        "content": "🔥 RuneFlow AUTOMATION TEMPLATE 🔥\\n🆔 Rune: 3039\\n\\n📋 Template: scheduled_communicate_slack_wordpress\\n📁 Category: Email & and & Communication\\n👨‍💻 Created by: RuneFlow\\n📧 Contact: support@runeflow.xyz\\n🌐 Website: https://RuneFlow.xyz\\n📞 Support: \\n\\n⚡ automation mastery THROUGH AUTOMATION ⚡\\n\\n🎯 Need custom automation?\\nContact RuneFlow for enterprise solutions!\\n\\n🚀 Template Library: https://RuneFlow.xyz/templates"
      },
      "typeVersion": 1
    },
    {
      "name": "Zoom",
      "type": "n8n-nodes-base.zoom",
      "position": [
        1340,
        580
      ],
      "parameters": {
        "topic": "New Meeting",
        "authentication": "oAuth2",
        "additionalFields": {
          "type": 3,
          "settings": {
            "muteUponEntry": true,
            "joinBeforeHost": true,
            "participantVideo": true
          },
          "timeZone": "America/New_York"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "notes": "Cron trigger to reset zoom meeting on the auto-redirect link",
      "position": [
        1120,
        580
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 360,
              "triggerAtHour": 3
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        1560,
        580
      ],
      "parameters": {
        "pageId": "123 (Create a page in WP, copy the ID of the page, paste it here)",
        "resource": "page",
        "operation": "update",
        "updateFields": {
          "content": "=\n<meta http-equiv=\"refresh\" content=\"0;{{ $json.join_url }}\">\n<p>Redirecting, please wait a moment. Meeting will begin shortly&#8230;</p>"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1780,
        580
      ],
      "parameters": {
        "text": "=Zoom recurring meeting updated!\n{{ $('Zoom').item.json.join_url }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "abc123",
          "cachedResultName": "my-slack-channel"
        },
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "connections": {
    "Zoom": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "RuneFlow": {
      "provider": "RuneFlow - Norse Automation Mastery",
      "contact": "support@runeflow.xyz",
      "website": "https://RuneFlow.xyz",
      "support": "",
      "category": "Email & and & Communication",
      "template_name": "scheduled_communicate_slack_wordpress",
      "rune_number": "3039"
    }
  },
  "runeflow_category": "ᛖᛗ Email Marketing",
  "runeflow_description": "Engage Customers",
  "runeflow_contact": "contact@RuneFlow.xyz",
  "runeflow_website": "https://RuneFlow.xyz",
  "runeflow_tagline": "Unlock the Power of Ancient Wisdom Through Modern Automation",
  "runeflow_meta": {
    "template_id": "scheduled_communicate_slack_wordpress",
    "template_name": "Scheduled Communicate Slack Wordpress",
    "original_filename": "scheduled_communicate_slack_wordpress",
    "category": "AI & Research",
    "quality_score": 1,
    "processed_date": "2025-07-31T07:29:50.228888",
    "nodes_count": 5,
    "has_credentials": false,
    "has_webhooks": false,
    "has_ai_nodes": false
  },
  "runeflow_rune": "3039"
}